/*Responsividade*/

/* Estilos para telas menores*/
@media (max-width: 768px){
    .cabecalho{
        flex-direction: column;
        padding: 5px;
        margin: 0px;
    }
    .cabecalho-imagem{
        margin: 10px;
    }
    .cabecalho-menu {
        margin: 10px;
    }
    .conteudo-main{
        margin: 1px;
    }
    .conteudo1 {
      flex-direction: column; /* Alterar a direção do conteúdo para coluna */
    }
    
    .imagem-conteudo {
      display: none; /* Esconder a imagem no conteúdo 1 */
    }
    
    .conteudo2 {
      font-size: 14px; /* Reduzir o tamanho da fonte no conteúdo 2 */
    }
}
/* Estilos para celulares menores */
@media (max-width: 425px){
    /* Aqui você pode adicionar estilos específicos para telas menores */
    body {
      font-size: 14px; /* Exemplo: reduzir o tamanho da fonte */
    }

    .conteudo1 {
      flex-direction: column; /* Exemplo: alterar a direção do conteúdo para coluna */
    }
    
    .imagem-conteudo {
      display: none; /* Exemplo: esconder a imagem no conteúdo 1 */
    }
    
    .conteudo2 {
      font-size: 12px; /* Exemplo: ajustar o tamanho da fonte no conteúdo 2 */
    }
}
@media (max-width: 320px){
    .cabecalho{   
        padding: 1px;
        margin: 1px;
    }
    .cabecalho-imagem{
        display: none;
    }
    .cabecalho-menu-item{
        margin: 0px;
        padding: 0px;
        font-size: 15px;
    }
    .conteudo-main{
        flex-direction: column;
        font-size: 8px;
        margin: 0px;
        padding: 0px;
    }
    h1{
        font-size: 19px;
        margin: 1px;
        padding-top: 100px;
    }
    h2{
        margin: 0;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .botao-contato{
        padding: 30px;
        font-size: 15px;
        margin: 0px;
        display: flex;
        justify-content: center;
    }
    .conteudo1{
        padding:0px;
    }
    .conteudo2{
        margin-top: 80px;
        padding: 5px;
    }
    .rodape-imagem{
        margin: 5px;
        width: 50px; 
    }
}